In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_path)

In [2]:
t_players = len(purchase_df["SN"].unique())
t_players_df = pd.DataFrame({"Total Players" : [t_players] })
t_players_df

   Total Players
0            576

In [5]:
t_purchases = len(purchase_df["SN"])
unique_items = len(purchase_df["Item ID"].unique())
av_price =  "${:,.2f}".format(purchase_df["Price"].sum()/t_purchases)
t_revenue = "${:,.2f}".format(purchase_df["Price"].sum())

purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items], "Average Price": [av_price], 
                                    "Number of Purchases" : [t_purchases], "Total Revenue" : [t_revenue]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [24]:
purchase_unique = purchase_df.drop_duplicates(subset=["SN"])
gender_counts = purchase_unique["Gender"].value_counts()
per_players = (gender_counts/t_players)*100
gender_dem = pd.DataFrame({"Total Count" : gender_counts, "Percentage of Players" : per_players})
gender_dem

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [72]:
gender_purchase = purchase_df.groupby("Gender").agg({"Purchase ID":"count", "Price": ["mean", "sum"],
                                                         "SN" : pd.Series.nunique})
av_pp = gender_purchase[("Price","sum")] / by[("SN", "nunique")] 

gender_purchase["Avg Total Purchase per Person"] = av_pp
cols = {(                  'Purchase ID',   'count') : "Purchase Count",
            (                        'Price',    'mean') : "Average Purchase Price",
            (                        'Price',     'sum') : "Total Purchase Value",
            (                           'SN', 'nunique') : "Unique",
            ('Avg Total Purchase per Person',        '') : "Avg Total Purchase per Person"}

gender_purchase.columns = gender_purchase.columns.to_flat_index()

rename = gender_purchase.rename(columns=cols)

rename

,Purchase Count,Average Purchase Price,Total Purchase Value,Unique,Avg Total Purchase per Person
Gender,,,,,
Female,113,3.203009,361.94,81,4.468395
Male,652,3.017853,1967.64,484,4.065372
Other / Non-Disclosed,15,3.346000,50.19,11,4.562727

In [45]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44