In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_path)

In [3]:
t_players = len(purchase_df["SN"].unique())
t_players_df = pd.DataFrame({"Total Players" : [t_players] })
t_players_df

   Total Players
0            576

In [4]:
t_purchases = len(purchase_df["SN"])
unique_items = len(purchase_df["Item ID"].unique())
av_price =  "${:,.2f}".format(purchase_df["Price"].sum()/t_purchases)
t_revenue = "${:,.2f}".format(purchase_df["Price"].sum())

purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items], "Average Price": [av_price], 
                                    "Number of Purchases" : [t_purchases], "Total Revenue" : [t_revenue]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [23]:
purchase_unique = purchase_df.drop_duplicates(subset=["SN"])
gender_counts = purchase_unique["Gender"].value_counts()
per_players = (gender_counts/t_players)*100
gender_dem = pd.DataFrame({"Total Count" : gender_counts, "Percentage of Players" : per_players})
gender_dem.style.format({"Percentage of Players" : "{:,.2f}%"})

In [24]:
gender_purchase = purchase_df.groupby("Gender").agg({"Purchase ID":"count", "Price": ["mean", "sum"],
                                                         "SN" : pd.Series.nunique})
av_pp = gender_purchase[("Price","sum")] / gender_purchase[("SN", "nunique")] 

gender_purchase[(                           'SN', 'nunique')] = av_pp
cols = {(                  'Purchase ID',   'count') : "Purchase Count",
            (                        'Price',    'mean') : "Average Purchase Price",
            (                        'Price',     'sum') : "Total Purchase Value",
            (                           'SN', 'nunique') : "Avg Total Purchase per Person"}

gender_purchase.columns = gender_purchase.columns.to_flat_index()

rename = gender_purchase.rename(columns=cols)
rename.style.format({"Average Purchase Price" : "${:,.2f}",
                            "Total Purchase Value" : "${:,.2f}",
                            "Avg Total Purchase per Person" : "${:,.2f}" })

In [33]:
bins = [0,9.9,14,19,24,29,34,39,purchase_df["Age"].max()]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]
purchase_df["Age Bin"] = pd.cut(purchase_df["Age"], bins, labels = group_names, include_lowest=True)
ages_unique = purchase_df.drop_duplicates(subset=["SN"])
age_counts = ages_unique["Age Bin"].value_counts(sort=False)
per_age = (age_counts/t_players)*100
age_dem = pd.DataFrame({"Total Count" : age_counts, "Percentage of Players" : per_age})
age_dem.style.format({"Percentage of Players" : "{:,.2f}%"})

In [35]:
age_purchase = purchase_df.groupby("Age Bin").agg({"Purchase ID":"count", "Price": ["mean", "sum"],
                                                         "SN" : pd.Series.nunique})
av_pp_age = age_purchase[("Price","sum")] / age_purchase[("SN", "nunique")] 

age_purchase[(                           'SN', 'nunique')] = av_pp_age
cols = {(                  'Purchase ID',   'count') : "Purchase Count",
            (                        'Price',    'mean') : "Average Purchase Price",
            (                        'Price',     'sum') : "Total Purchase Value",
            (                           'SN', 'nunique') : "Avg Total Purchase per Person"}

age_purchase.columns = age_purchase.columns.to_flat_index()

rename_age = age_purchase.rename(columns=cols)
rename_age.style.format({"Average Purchase Price" : "${:,.2f}",
                            "Total Purchase Value" : "${:,.2f}",
                            "Avg Total Purchase per Person" : "${:,.2f}" })